{%load static%}

<div class="container-fluid blog-sb-widgets page-styling site-footer">
    <div class="row">
        <div class="col-sm-12 col-md-4 widget align-center-tablet f-logo-wrap">
            <a href="/" class="f-logo">
                <img src="{% static 'img/logo-fabystar.png' %}" alt="">
            </a>
            <p></p>
            <button class="btn callback">Contactenos</button>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 align-center-mobile widget">
            <h3 class="widgettitle">Nosotros</h3>
            <ul class="menu">
                
                <li>
                    <a href="about.html">Acerca de nosotros</a>
                </li>
                
                <li>
                    <a href="index.html">Nuestra Carta</a>
                </li>
                <li>
                    <a href="contacts.html">Contactenos</a>
                </li>
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 align-center-mobile widget">
            <h3 class="widgettitle">Categorias</h3>
            <ul class="menu">
                <li>
                    <a href="catalog-list.html">SOPAS</a>
                </li>
                <li>
                    <a href="catalog-gallery.html">PLATOS A LA CARTA</a>
                </li>
                <li>
                    <a href="catalog-gallery-full.html">BEBIDAS</a>
                </li>
                <li>
                    <a href="catalog-gallery-full.html">SANWICH</a>
                </li>
                
            </ul>
        </div>
        <div class="col-xs-6 col-sm-3 col-md-2 align-center-mobile widget">
            <h3 class="widgettitle">Métodos de Pago</h3>
            <ul class="menu">
                <li>
                    <a href="wishlist.html">Tarjeta Visa</a>
                </li>
                <li>
                    <a href="compare.html">Yape</a>
                </li>
                
            </ul>
        </div>
        
    </div>
</div>